### User information

In [1]:
import pandas as pd
df = pd.read_csv('/Users/amroa/Downloads/yelpdata/yelp-csv/yelp_academic_dataset_user.csv')
df

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"['wSByVbwME4MzgkJaFyfvNg', 'cpQmAgOWatghp14h1p...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,NaN,4,"['xh9VekYUo5CgVBxySQ70Tw', 'L3Z-WvSvYXvTf-lzST...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,NaN,0,"['1IQ_d1RuMj8iIpcF2CDohA', 'lwhksSpgIyeYZor_Hl...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10
3,4.85,0,0,0,1,0,0,0,0,2,...,14,NaN,5,"['mXWEAK4ns5hdsD0b5EW_TQ', '_5kP7S0sLG2YNCJ9kM...",4,Angela,17,30,dD0gZpBctWGdWo9WlGuhlA,2014-05-22 15:57:30
4,4.08,80,0,80,28,1,1,16,5,57,...,665,"2015,2016,2017,2018",39,"['Kw4ZuLGWYHlocofX_HFL-g', 'yuEzhI3PX4CHfCnJsl...",279,Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,2013-10-23 07:02:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778646,3.00,0,0,0,0,0,0,0,0,1,...,0,NaN,0,['3VaNXSd1hNQ2DORbw4noYg'],0,Matt,2,1,5NNmSX8MRazbxMomuHTWQA,2012-06-14 00:40:16
778647,3.85,0,0,0,0,0,0,0,0,0,...,1,NaN,0,['nUnZ60HSbJMpL4AL0z2vlw'],1,Mikael,11,3,fNqKIETyoK4jXRMR4reobQ,2015-09-04 03:09:10
778648,4.78,0,0,0,0,0,0,0,0,0,...,3,NaN,0,['c83mVp4QaqDD-akTwSNacg'],1,Chris,9,7,DX060R_xjMRUIOkslTYqDA,2010-10-20 02:08:46
778649,1.00,0,0,0,0,0,0,0,0,0,...,0,NaN,0,['am7P_2tjqC03xj3dTXf7qw'],0,Kyle,1,0,PpBrAFUImjSCfagovIYiwA,2017-10-09 00:05:25
778650,5.00,1,0,1,0,0,0,0,0,1,...,0,NaN,0,['oUK6Xs5dPPnP4whFeZExGg'],0,Christopher,1,0,4orf5eZFivco81tuFiX9UQ,2012-08-11 19:59:23

In [ ]:
df = pd.DataFrame(df[['name','attributes']], columns = ['business_id', 'attributes'])
import numpy as np
for index, row in df.iterrows():
    if (type(row['streetAddr']) is float):
        print('garbage present with index2 '+ str(index))
        print(str(row))
print('done')